<div class="row">
    <div class="offset-3 col-sm-6">
        <h2 class="text-center my-3 text-primary">Add new product</h2>
        <form (ngSubmit)="createProduct();">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Type the product name here"
                [(ngModel)]="product.name" name="name">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" placeholder="Type the description here"
                [(ngModel)]="product.description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" placeholder="Type the quantity here"
                [(ngModel)]="product.quantity" name="quantity">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Type the price here"
                [(ngModel)]="product.price" name="price"> 
            </div>
            <button type="submit" class="btn btn-success btn-block">Add new product</button>
            <a routerLink="/products" class="btn btn-link btn-block">Cancel</a>
        </form>
    </div>
</div>
