<div class="row">
    <div class="offset-3 col-sm-6">
        <h2 class="text-center text-primary my-5">List of products</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; let i = index">
                    <td>{{i+1}} </td>
                    <td>{{product.name | uppercase}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <button class="btn btn-info btn-sm mr-1" [routerLink]="['/update-product', product.id]">Update</button>
                        <button class="btn btn-danger btn-sm" (click)="deleteProduct(i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>