<div class="row">
    <div class="offset-md-3 col-md-6">
        <h1 class="text-center text-primary my-3">{{componentName}}</h1>
        <form>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" (blur)="sortir()">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="check">
                <label class="form-check-label" for="check">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="isInvalid">Login</button>
        </form>
    </div>
</div>