<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categoriesList; let i=index">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td>
                        <button class="btn btn-info btn-sm">Update</button>
                        <button class="btn btn-danger btn-sm ml-1" (click)="onDelete(i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>